<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout membre</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <h1>Ajouter un membre</h1>
    <a href="/admin/home">retour accueil</a>
    <form action="/admin/signup/user" method="post">
        <p>Nom</p>
        <input type="text" name="name" id="name" autocomplete="off">

        <p>Prénom</p>
        <input type="text" name="prenom" id="prenom" autocomplete="off">
        
        <p>Matricule</p>
        <input type="text" name="matricule" id="matricule" autocomplete="off">
        
        <p>Dernier payment</p>
        <select name="last_month" id="">
            <option value="">Mois</option>
            <option value="1">Janvier</option>
            <option value="2">Février</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Août</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
        </select>
        <select name="last_year" id="">
            <option value="">Année</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
        </select>


        <input type="text" name="role" value="guest" hidden>
        
        <input type="submit" value="ajouter">

    </form>
</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Vérifie si des données existent dans le localStorage
        if (localStorage.getItem('user_info')) {
            // Récupère les données du localStorage et les convertit en objet JavaScript
            console.log(localStorage.getItem('user_info'));
        } else {
            console.log('Aucune donnée utilisateur trouvée dans le localStorage.');
            window.location.href = '/';

        }
    });

    document.getElementById('logout-button').addEventListener('click', function() {
        localStorage.removeItem('user_info');
        window.location.href = '/';
    });

</script>