<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertion mouvement</title>
</head>

<body>
    <p>Ajouter mouvement pour <%= user.name %> <%= user.prenom %></p>
    <form action="/insert/mouvement" method="post">
        <p>Date</p>
        <input type="date" name="date" id="">

        <p>Montant</p>
        <input type="number" name="montant" id="">

        <p>Type</p>
        <select name="type" id="">
            <option selected></option>
            <option value="input">Entrée</option>
            <option value="output">Sortie</option>
        </select>

        <p>Commentaire</p>
        <textarea type="text" name="description" id=""> </textarea>

        
        <input type="text" name="user_id" value="<%= user.user_id %>" hidden>

        <input type="submit" value="ajouter">

    </form>

</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Vérifie si des données existent dans le localStorage
    if (localStorage.getItem('user_info')) {
        // Récupère les données du localStorage et les convertit en objet JavaScript
        var userData = JSON.parse(localStorage.getItem('user_info'));

        // Affiche les données dans la console
        console.log('Données utilisateur:', userData);

        // Ajoute les données à un champ hidden d'un formulaire avec l'ID "hiddenInput"
        document.getElementById('hiddenPrenom').value = userData.prenom;
        document.getElementById('hiddenId').value = userData._id;
    } else {
        console.log('Aucune donnée utilisateur trouvée dans le localStorage.');
    }
});