<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>

<body>
    <h1>Inscrivez-vous</h1>
    <form action="/admin/signup/user" method="post">
        <p>Nom</p>
        <input type="text" name="name" id="name">

        <p>Prénom</p>
        <input type="text" name="prenom" id="prenom">
        
        <p>Matricule</p>
        <input type="text" name="matricule" id="matricule">

        <input type="text" name="role" value="guest" hidden>
        
        <input type="submit" value="s'inscrire">

    </form>
</body>

</html>