<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajout recette annexe</title>
</head>
<link rel="stylesheet" href="/style.css">


<body>
    <h2>Ajouter recette annexe</h2>

    <a href="/admin/home">retour à l'accueil</a>
    <button id="logout-button">Se déconnecter</button>

    <form action="/insert/annexe" method="post">
        <p>Date</p>
        <select name="day" id="">
            <option value="">Jour</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select name="month" id="" required>
            <option value="">Mois</option>
            <option value="01">Janvier</option>
            <option value="02">Février</option>
            <option value="03">Mars</option>
            <option value="04">Avril</option>
            <option value="05">Mai</option>
            <option value="06">Juin</option>
            <option value="07">Juillet</option>
            <option value="08">Août</option>
            <option value="09">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
        </select>
        <select name="year" id="" required>
            <option value="">Année</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>

        <p>Montant</p>
        <input type="number" name="montant" id="" required>

        <input type="text" name="type" id="" value="annexe" hidden>

        <p>Commentaire</p>
        <textarea type="text" name="description" id=""> </textarea>

        <input type="submit" value="ajouter">

    </form>

</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Vérifie si des données existent dans le localStorage
        if (localStorage.getItem('user_info')) {
            // Récupère les données du localStorage et les convertit en objet JavaScript
            var userData = JSON.parse(localStorage.getItem('user_info'));

            // Affiche les données dans la console
            console.log('Données utilisateur:', userData);

            // Ajoute les données à un champ hidden d'un formulaire avec l'ID "hiddenInput"
            document.getElementById('hiddenPrenom').value = userData.prenom;
            document.getElementById('hiddenId').value = userData._id;
        } else {
            console.log('Aucune donnée utilisateur trouvée dans le localStorage.');
            window.location.href = '/';

        }
    });

    document.getElementById('logout-button').addEventListener('click', function() {
        localStorage.removeItem('user_info');
        window.location.href = '/';
    });

</script>