<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    <form id="loginForm">
        <p>matricule</p>
        <input type="text" name="matricule" id="matricule">
        <p>Mot de passe</p>
        <input type="text" name="mdp" id="password">
        <input type="submit" value="se connecter">
    </form>

    <div id="message"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../scripts/script.js"></script>
</body>
</html>
