<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <h1>Connexion</h1>
    <center><p>si pas encore inscrit  <a style="background-color: rgb(207, 0, 0);width: 150px;" href="/signup"><b>s'inscrire</b></a></p></center>
    <form id="loginForm">
        <p>matricule</p>
        <input type="text" name="matricule" id="matricule" autocomplete="off">
        <p>Mot de passe</p>
        <input type="password" name="mdp" id="password" autocomplete="off">
        <input type="submit" value="se connecter">
        <div id="message" class="error-message"></div>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../scripts/script.js"></script>
</body>
</html>
