<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <h1>Inscrivez-vous</h1>
    <form id="signupForm">
        <div id="message" class="error-message"></div>
        <p>Nom</p>
        <input type="text" name="name" id="name" required autocomplete="off">

        <p>Prénom</p>
        <input type="text" name="prenom" id="prenom" required autocomplete="off">
        
        <p>Matricule <b>(ne pas mettre d'espace)</b></p>
        <input type="text" name="matricule" id="matricule" required autocomplete="off">
        
        <p>Mot de passe</p>
        <input type="text" name="mdp" id="mdp" required autocomplete="off">

        <input type="text" name="role" value="guest" hidden>
        
        <input type="submit" value="s'inscrire">

    </form>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../scripts/script.js"></script>